
@model Mobile_ecommerce.Models.ViewModel.Voucher.Edit

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin_LayoutPage.cshtml";
}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-2">
                    <h4 class="header-title mb-0">Tạo mã khuyến mãi</h4>
                </div>
                <div class="collapse pt-3 show">
                    @using (Html.BeginForm("Create", "Voucher", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group align-items-center row">
                                @Html.LabelFor(model => model.VoucherID, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.VoucherID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VoucherID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group align-items-center row">
                                @Html.LabelFor(model => model.Name, "Tên mã khuyến mãi", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group align-items-center row">
                                @Html.LabelFor(model => model.Des, "Mô tả", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Des, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group align-items-center row">
                                @Html.LabelFor(model => model.VoucherID, "Trị giá", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group align-items-center row">
                                @Html.LabelFor(model => model.DateStart, "Ngày bắt đầu", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group align-items-center row">
                                @Html.LabelFor(model => model.DateEnd, "Ngày kết thúc", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group align-items-center row mt-3">
                                <div class="col-md-2">
                                    @Html.ActionLink("Trở về", "Index", "Voucher", null, new { @class = "btn btn-warning text-light" })
                                </div>

                                <div class="col-md-6">
                                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
