@model IEnumerable<Mobile_ecommerce.Models.ViewModel.Order.OrderInfo>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin_LayoutPage.cshtml";
}
<h4 class="header-title mb-0 text-center">Chi tiết đơn hàng</h4>
<table class="table bg-gradient-danger text-light mt-2 ">
    <tr class="fw-bold">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th class="bg-gradient-success">
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }

</table>
<div class="form-group align-items-center row mt-3">
    <div class="col-md-2">
        @Html.ActionLink("Trở về", "Index", "OrderAd", null, new { @class = "btn btn-warning text-light" })
    </div>
</div>
